.container-fluid.p-2.table_container {
    font-size: small;
}
table td{
    border: 1px solid black;
}
td.details-control {
    background: url('../resources/details_open.png') no-repeat center center;
    cursor: pointer;
}
tr.shown td.details-control {
    background: url('../resources/details_close.png') no-repeat center center;
}
/* thead tr:first-child{ position: sticky !important; top: 0; } */