{% extends 'base.html' %}
{% import "macros.jinja" as macros %}
{% block title%}{% if update %}Update{% else %}Add{% endif %} Indent
{% endblock %}

{% block css%}
<link rel="stylesheet" type="text/css" href="{{static ('Bundles/css/datepicker.min.css')}}"/>
<style>
    td,th {
        font-size: .9rem !important;
    }
</style>
{% endblock %}

{%block scripts%}
    <script type="text/javascript">
        $(document).ready(function() {
			clear_form($(".myform"))
            {% if success %}
				Swal.fire(
					'Indent Saved!',
					'Your indent object has been saved.',
					'success'
				)
				window.setTimeout(function(){
			    	window.location.href = "{{url ('show_indent',args=[wo.pk])}}";
			    }, 3000)
            {% endif %}
			console.log("2",$("#vendor_name"));
			$("#vendor_name").select2();
			$("#work_order_id").select2();
			$("#material_shape").select2();
			$("#item_description").select2({
				tags: true,
    			tokenSeparators: [',']
			});
			$(".select2-selection").on("focus", function () {
		        $(this).parent().parent().prev().select2("open");
		    });
        });
    </script>
{% endblock %}

{% block content %}
	<div class="main_content">
		<div class="row" style="padding-top: 6rem">
			<nav aria-label="breadcrumb">
				<ol class="breadcrumb">
					<li class="breadcrumb-item">
						<a href="{{url ('home_page')}}">
							<span class="h6 fw-bold">Home</span>
						</a>
					</li>
					<li class="breadcrumb-item">
						<a href="{{url ('show_indent',args=[wo.pk])}}">
							<span class="h6 fw-bold">Indent Table</span> 
						</a>
					</li>
					<li class="breadcrumb-item">
						<a href="{{url ('add_indent',args=[wo.pk])}}">
							<span class="h6 fw-bold">Add Indent</span>
						</a>
					</li>
				</ol>
			</nav>
			<div class="col-12 mb-4" style="width:80%;margin: 0 auto;">
				<div class="card shadow-sm components-section" style="border-radius: 1rem;">
					<div class="card-body" style="border-radius: 1rem;">
						<div class="accordion accordion-flush" id="accordionFlushExample">
							<div class="accordion-item">
								<h2 class="accordion-header" id="flush-headingOne">
									<h3>{% if update %}Update{% else %}Add{% endif %} Indent in {{wo}}{% if success %}✅{% endif %}</h3>
								</h2>
								<div class="accordion-body">
									<form class="myform" method = "POST">
										{{csrf_input}}
										<!-- <img class="form_hider" src="{{static ('admin/details/img/close.png')}}" alt="hide"> -->
										<div class="row mb-1 mx-lg-5 mx-sm-0">
											<div class="col-lg-12 col-md-12 col-sm-12">
												{{macros.select2("Item Description","item_description",all_item_description,update.item_description,use_pk=False)}}
											</div>
										</div>
										<div class="row mb-1 mx-lg-5 mx-sm-0">
											<div class="col-lg-6 col-md-12 col-sm-12">
												{%set all_shapes = ["Round","Plate","SQ Bar","Pipe","BF","Labour","ISMC","ISMB","ISA","Bolt","Nut","RecPipe"]%}
												{{macros.select2("Material Shape","material_shape",all_shapes,value = update.material_shape,required = True)}}
											</div>
											<div class="col-lg-6 col-md-12 col-sm-12">
												{{macros.input_text("Material Type","material_type",update.material_type)}}
											</div>
										</div>
										<div class="row mb-1 mx-lg-5 mx-sm-0">
											<div class="col-lg-3 col-md-12 col-sm-12">
												{{macros.input_number("Diameter/Length","size",update.size)}}
											</div>
											<div class="col-lg-3 col-md-12 col-sm-12">
												{{macros.input_number("Thickness","thickness",update.thickness)}}
											</div>
											<div class="col-lg-3 col-md-12 col-sm-12">
												{{macros.input_number("Width","width",update.width)}}
											</div>
											<div class="col-lg-3 col-md-12 col-sm-12">
												{{macros.input_number("Internal Diameter","internal_diameter",update.internal_diameter)}}
											</div>
										</div>
										<div class="row mb-1 mx-lg-5 mx-sm-0">
											<div class="col-lg-12 col-md-12 col-sm-12">
												{{macros.text_area("Order Description","description",update.description)}}
											</div>
										</div>
										<div class="row mb-1 mx-lg-5 mx-sm-0">
											<div class="col-lg-4 col-md-12 col-sm-12">
												{{macros.input_number("Quantity","quantity",update.quantity)}}
											</div>
											<div class="col-lg-4 col-md-12 col-sm-12">
												{{macros.input_text("Unit","unit",value=update.unit if update.unit else "NOS")}}
											</div>
											<div class="col-lg-4 col-md-12 col-sm-12">
												{{macros.input_currency("Value","value",value=update.value)}}
											</div>
										</div>
										<div class="row mb-1 mx-lg-5 mx-sm-0">
											<div class="col-lg-4 col-md-12 col-sm-12">
												{{macros.input_number("Tax (in %)","tax",update.tax)}}
											</div>
											<div class="col-lg-4 col-md-12 col-sm-12">
												{{macros.input_number("Discount","discount",update.discount)}}
											</div>
											<div class="col-lg-4 col-md-12 col-sm-12">
												{{macros.input_number("Other Expanses","other_expanses",update.other_expanses)}}
											</div>
										</div>
										<div class="row mb-1 mx-lg-5 mx-sm-0">
											<div class="col-lg-12 col-md-12 col-sm-12">
												{{macros.text_area("Comment","comment",update.comment)}}
											</div>
										</div>
										<div class="row mb-1 mx-lg-5 mx-sm-0">
											<div class="container mt-4" style="width:80%;">
												<button type="submit" class="btn btn-outline-success"
													style="width:100%">Submit</button>
											</div>
										</div>
									</form>
									{% if integrityErrors %}
										<div class="errors_container">
											<p>
											{{integrityErrors}}
											</p>
										</div>
									{% endif %}
									{% if errors %}
										<div class="errors_container">
											<p>
											{{errors}}
											</p>
										</div>
										<script>
											show_error("{{errors}}")
										</script>
									{% endif %}
								</div>                                
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}