{% extends 'base.html' %}
{% import "macros.jinja" as macros %}
{% block title%} {% if update %}Update{% else %}Add{% endif %} Assembly 
{% endblock %}

{% block css%}
<link rel="stylesheet" type="text/css" href="{{static ('Bundles/css/datepicker.min.css')}}"/>

<style>
    td,th {
        font-size: .9rem !important;
    }
</style>
<link href = "{{static ('DualSelectBox/dsb.css')}}" rel="stylesheet"></style>
{% endblock %}

{%block scripts%}
	<script src="{{static ('DualSelectBox/dsb.js')}}" ></script>
	<script src="{{static ('assembly/assembly.js')}}" ></script>
	<script type="application/javascript" src="{{static ('Bundles/js/pagination.js')}}"></script>
{% endblock %}

{% block content %}
	<div class="main_content">
		<div id="wrap" class="container">
			<br>
			<br><br><br><br><br>
			<form class="myform">
				<div class="row mb-3">
					<div class="col-lg-6 col-md-6 col-sm-6">
						{{macros.input_text("Assembly Name","name",update.name)}}
					</div>
					<div class="col-lg-6 col-md-6 col-sm-6">
						{{macros.text_area("Description","description",update.description)}}
					</div>
				</div>
				<div class="row">
					<div class="col-2">
						<a href="/admin/main/item_description/add/?_to_field=id&_popup=1" target="popup" onclick="popup = window.open('/admin/main/item_description/add/?_to_field=id&_popup=1','popup','width=600,height=600'); return false;"
							style="text-decoration:none; color:black !important;"
						>
							<img src="{{static ('Images/add.png')}}" alt="Add" style="height: 30px;width: 30px;">
							Add Item
						</a>
					</div>
					<div class="col-3">
						<button type="button" class="btn btn-primary" id="refresh_list">Refresh List</button>
					</div>
					<div class="col-3">
						<div class="spinner-border" style="display: none;" role="status">
							<span class="sr-only"></span>
						</div>
					</div>
				</div>
				<div class="row">
					<div class="col-xs-5">
						<select name="from[]" class="multiselect form-control" size="8" multiple="multiple" data-right="#multiselect_to_1" data-right-all="#right_All_1" data-right-selected="#right_Selected_1" data-left-all="#left_All_1" data-left-selected="#left_Selected_1">
							<!--
							<option value="1" data-ev = "601.00">Item 1</option>
							<option value="2" data-ev = "602.00">Item 2</option>
							<option value="3" data-ev = "603.00">Item 3</option>
							<option value="4" data-ev = "604.00">Item 4</option>
							<option value="5" data-ev = "605.00">Item 5</option>
							-->
							{% for item in all_items %}
								<option value="{{item.pk}}" data-ev = "{{item.estimated_value}}">{{item}}</option>
							{% endfor %}
						</select>
					</div>
				</div>
				<br>
				<div class="row">
					<div class="col-xs-5">
						<h1 style="background-color: gray;display:flex;float:left;border-radius:10px" class="p-1">₹<span class="badge badge-secondary" id= "total_estimate">00.0</span></h1>
					</div>
				</div>
				<div class="row">
					<div class="col-xs-5">
						<table class="table table-bordered">
							<thead>
								<tr>
									<th scope="col">Item</th>
									<th scope="col">Cost</th>
									<th scope="col">Thickness</th>
									<th scope="col">Size</th>
									<th scope="col">Width</th>
									<th scope="col">Internal Diameter</th>
									<th scope="col">Quantity</th>
								</tr>
							</thead>
							<tbody id = "mirror">
							</tbody>
						</table>
					</div>
				</div>
				<div class="row">
					<div class="col-12">
						<button type="button" class="btn btn-primary" id="save_assembly">Save Assembly</button>
					</div>
				</div>
			</form>
		</div>
	</div>
{% endblock %}