{% extends 'base.html' %}
{% import "macros.jinja" as macros %}
{% block title%} {% if update %}Update{% else %}Add{% endif %} PO 
{% endblock %}

{% block css%}
<link rel="stylesheet" type="text/css" href="{{static ('Bundles/css/datepicker.min.css')}}"/>
<style>
    td,th {
        font-size: .9rem !important;
    }
    .select2-container--default .select2-selection--multiple .select2-selection__choice{
    	display: block !important;
    }
</style>
{% endblock %}

{%block scripts%}
    <script type="text/javascript">
        $(document).ready(function() {
			clear_form($(".myform"))
            console.log("department")
            {% if success %}
				Swal.fire(
					'PO Saved!',
					'Your PO object has been saved.',
					'success'
				)
            {% endif %}
			$("#indent_list").select2();
			{% if not update %}
				$("#vendor_id").select2();
			{% endif %}
        });
    </script>
	<script type="application/javascript" src="{{static ('Bundles/js/pagination.js')}}"></script>
{% endblock %}

{% block content %}
	<div class="main_content">
		<div class="row" style="padding-top: 6rem">
			<nav aria-label="breadcrumb">
				<ol class="breadcrumb">
				<li class="breadcrumb-item">
					<a href="{{url ('home_page')}}">
						<span class="h6 fw-bold">Home</span>
					</a>
				</li>
				<li class="breadcrumb-item">
					<a href="{{url ('show_po')}}">
						<span class="h6 fw-bold">PO Table</span> 
					</a>
				</li>
				<li class="breadcrumb-item">
					<a href="{{url ('add_po')}}">
						<span class="h6 fw-bold">Add PO</span> 
					</a>
				</li>
				</ol>
			</nav>
			<div class="col-12 mb-4" style="width:80%;margin: 0 auto;">
				<div class="card shadow-sm components-section" style="border-radius: 1rem;">
					<div class="card-body" style="border-radius: 1rem;">
						<div class="accordion accordion-flush" id="accordionFlushExample">
							<div class="accordion-item">
								<h2 class="accordion-header" id="flush-headingOne">
									<h3>{% if update %}Update{% else %}Add{% endif %} PO {% if success %}✅{% endif %}</h3>
								</h2>
									<div class="accordion-body">
										<form class="myform" method = "POST">
											{{csrf_input}}
											<!-- <img class="form_hider" src="{{static ('admin/details/img/close.png')}}" alt="hide"> -->
											<div class="row mb-3 mx-lg-5 mx-sm-0">
												<div class="col-lg-12 col-md-12 col-sm-12">
													Indents
												</div>
											</div>
											<div class="row mb-3 mx-lg-5 mx-sm-0">
												<div class="col-lg-12 col-md-12 col-sm-12">
													<div class="form-floating mb-1">
														<div class="select2_container double_select2">
															<select name="indent_list" id="indent_list" class="js-example-basic-single js-states form-control" multiple="multiple" >
																{% set last_wo = {'wo': False} %}
																{% for obj in all_indent %}
																	{% if obj.WO!=last_wo.wo %}
																 		<optgroup label="{{obj.WO}}">
																	{% endif %}
																		<option
																			value="{{obj.id}}"
																			{% if update and obj in indent_list%}
																				selected
																			{% endif %}
																		>
																		{{obj}}
																		</option>
																	{% if obj.wo != last_wo.wo %}
																	 	</optgroup>
																		{% if last_wo.update({'wo': obj.WO}) %} {% endif %}
																	{% endif %}
																{%endfor%}
															</select>
														</div>
													</div>
												</div>
											</div>
											<div class="row mb-3 mx-lg-5 mx-sm-0">
												<div class="col-lg-6 col-md-12 col-sm-12">
													{{macros.date_input("PO Date","po_date",update.po_date)}}
												</div>
												<div class="col-lg-6 col-md-12 col-sm-12">
													{% if update %}
														{{macros.input_text("Vendor Name","vendor_id",max_len=200,value=update.vendor_id,disabled=True)}}
													{% else %}
														{{macros.select2("Vendor Name","vendor_id",all_vendors,update.vendor_id)}}
													{% endif %}
												</div>
											</div>
											<div class="row mb-3 mx-lg-5 mx-sm-0">
												<div class="container mt-4" style="width:80%;">
													<button type="submit" class="btn btn-outline-success"
														style="width:100%">Submit</button>
												</div>
											</div>
										</form>
										{% if integrityErrors %}
											<div class="errors_container">
												<p>
												{{integrityErrors}}
												</p>
											</div>
										{% endif %}
										{% if errors %}
											<div class="errors_container">
												<p>
												{{errors}}
												</p>
											</div>
											<script>
												show_error("{{errors}}")
											</script>
										{% endif %}
                                    </div>                                
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}