{% extends 'base.html' %}
{% import "macros.jinja" as macros %}
{% block title%} PO List
{% endblock %}

{% block css%}
{% endblock %}

{%block scripts%}
    <script type="text/javascript">
        $(document).ready(function() {
			$("#example").DataTable({})

        });
    </script>
{% endblock %}

{% block content %}
	<div class="main_content">
		<div class="row" style="padding-top: 6rem">
			<a href="{{url ('add_po')}}" target="_blank">
				<button class="btn btn-success w-100">
					Add PO
				</button>
			</a>
			<div class="container-fluid p-2 table_container">
				<div class="card shadow-sm mb-4 p-2 components-section" style="border-radius: 1rem;">
					<div class="card-body" style="border-radius: 1rem;">
						<div class="row text-center">
							<div class="col-lg-12 col-sm-12">
								<div class="h3 text-center">Purchase Orders List</div>
								<a style="display: none;" id="del" onclick="delete_entries()" >
									<img class="input_icons" src="{{static ('Images/trash.png')}}" alt="Delete">
								</a>
							</div>
							<!-- <div class="col-lg-2 col-sm-12">
							</div> -->
						</div>
						<div class="table">
							<table class="table row-table nowrap responsive compact mb-0 rounded text-center" id="example">
								<thead class="thead">
									<tr>
										<th class=""><i class="fas fa-hashtag"></i></th>
										<th class="">PO Number</th>
										<th class="">PO Vendor</th>
										<th class="">Date</th>
										<th class="">Completed</th>
										<th class="">Indent List</th>
										<th class="">Edit</th>
										<th class=" text-center">
											<div class="form-check" onclick="checkAll();">
												<input class="form-check-input" type="checkbox" value="parent"
													id="parent" name="parent">
											</div>
										</th>
									</tr>
								</thead>
								<tbody>
									{% for po in all_PO %}
										<tr>
											<td class="">{{loop.index}}</td>
											<td class="">{{po.po_number}}</td>
											<td class="">{{po.vendor_id}}</td>
											<td class="">{%if po.po_date %}{{po.po_date.strftime('%d-%m-%Y')}}{%else%} -- {%endif%}</td>
											<td class="">{% if po.is_complete %}✅{% else %}❌{% endif %}</td>
											<td class="">
												<a href="{{url ('show_indent_table' ,args=[po.pk])}}" target="_blank">
													<img src="../../static/Images/enter.png" style="width:19px;height:19px" alt="enter">
												</a>
											</td>
											<td class="">
												<a href="{{url ('update_po' ,args=[po.id])}}" target="_blank">
														<img src="../../static/Images/editing.png" style="width:19px;height:19px" alt="edit">
												</a>
											</td>
											<td class="">
												<div class="form-check" onclick="checkSelected()">
													<input class="form-check-input del_input" type="checkbox"
													id="{{loop.index}}" name="del" value="{{po.id}}" input_name="{{po}}">
												</div>
											</td>
										</tr>
									{% endfor %}
								</tbody>
							</table>
						</div>
					</div>
				</div>
			</div>
        </div>
    </div>
{% endblock %}