<!DOCTYPE html>
<html>
	<head>
		<link href="{{static ('Bundles/css/bootstrap.min.css')}}" rel="stylesheet">
		
		<style>
			#content {
				display: table;
			}

			#pageFooter {
				display: table-footer-group;
			}

			#pageFooter:after {
				counter-increment: page;
				content: counter(page);
			}
			table{
				max-width: 100%;
			}
			.table-bordered > tbody > tr > td, .table-bordered > tbody > tr > th, .table-bordered > tfoot > tr > td, .table-bordered > tfoot > tr > th, .table-bordered > thead > tr > td, .table-bordered > thead > tr > th {
				border: 1px solid black;
			}
			html {
				font-size: 10px;
			}
			@page {
				size: A4 portrait;
				margin: 10px;
			}
			@media screen, print{
				html {
					font-size: 70%;
					line-height: 110%;
				}
				table {
					width: 100%;
				}
			}
			@media print{
				html {
					font-size: 60%;
					line-height: 110%;
				}
			}

		</style>
	</head>
	
	<script type="text/javascript" src="{{static ('report/paged.js')}}"></script>
	<body style='font-family:"Trebuchet MS", sans-serif'>
		<table class="table table-bordered" id="main_table" style="margin-bottom: 0px;">
			<thead>
				<tr>
					<th colspan="11" class="fw-bold text-center h1"><i>GHANSHYAM INDUSTRIES</i></th>
				</tr>
					<tr class="h5 text-center">
						<td colspan="11">
							address address address address address address address address address address address address address address address address address  address address address
						</td>
					</tr>
					<tr class="h5 text-center">
						<td colspan="11">Email- mechghanshyam@gmail.com </td>
					</tr>
					<tr class="h5 text-center">
						<td colspan="11">GST NO - 24AAZPP4220E1ZN</td>
					</tr>
					
				<tr class="h2 text-center fw-bold">
					<td colspan="11">
						Purchase Order
					</td>
				</tr>
				<tr>
					<td colspan="7" rowspan="2">M/s Krushna Steel Traders
						<br><br>
						address address address address address address address address address address address address address address address address address 
					</td>
					<td colspan="2" class="fw-bold text-center">PO Number</td>
					<td colspan="2" class="fw-bold text-center">PO Date</td>
				</tr>
				<tr>					
					<td colspan="2" class="text-center">28</td>
					<td colspan="2">12/12/2021</td>
				</tr>
				<tr>
					<td colspan="2"><span class="fw-bold">Contact Person :-</span> Mahendrakumar D Patel</td>
					<td colspan="3"><span class="fw-bold">E-mail :-</span> krushna89steel@gmail.com</td>
					<td colspan="3"><span class="fw-bold">Phone number :-</span> 1234567890</td>
					<td colspan="3"><span class="fw-bold">GST No :-</span> 24AAZPP4220E1ZN</td>
				</tr>
				<tr>
					<th>Sr.No.</th>
					<th class="description">Description</th>
					<th>MT</th>
					<th>QUT</th>
					<th>WT</th>
					<th>Unit Value</th>
					<th>Tax</th>
					<th>Other Charges</th>
					<th>Discount</th>
					<th>Total Tax Value</th>
					<th>Total Net value</th>
				</tr>
			</thead>
			<tbody>
				{% 	set total_dict = {
						'total_quantity':0,
						'total_weight':0,
						'total_net_value':0,
						'total_tax_value':0
					}
				%}
				{% for indent in all_indents %}
					<tr>
						<td>{{loop.index}}</td>
						<td class="description">({{indent.pk}}) {{indent.description}}</td>
						<td>{{indent.material_type}}</td>
						<td>{{indent.quantity}} {{indent.unit}}</td>
						<td>{{indent.get_weight()}} Kg</td>
						<td>₹ {{indent.value}}</td>
						<td>{{indent.tax}}</td>
						<!-- <td>{{indent.tax_amount()}}</td> -->
						<td>₹ {{indent.other_expanses}}</td>
						<td>₹ {{indent.discount}}</td>
						<td>₹ {{indent.tax_amount()}}</td>
						<td>₹ {{indent.gross_value()}}</td>
						<!-- <td>{{indent.net_value()}}</td> -->
					</tr>
				{% endfor %}
				{% for indent in all_indents %}
					<tr>
						<td>{{loop.index}}</td>
						<td class="width: 100px" class="description">{{indent.description}}</td>
						<td>{{indent.material_type}}</td>
						<td>{{indent.quantity}} {{indent.unit}}</td>
						<td>{{indent.get_weight()}} Kg</td>
						<td>₹ {{indent.value}}</td>
						<td>{{indent.tax}}</td>
						<!-- <td>{{indent.tax_amount()}}</td> -->
						<td>₹ {{indent.other_expanses}}</td>
						<td>₹ {{indent.discount}}</td>
						<td>₹ {{indent.tax_amount()}}</td>
						<td>₹ {{indent.gross_value()}}</td>
						<!-- <td>{{indent.net_value()}}</td> -->
						{% if total_dict.update({
							'total_quantity':total_dict['total_quantity']+indent.quantity,
							'total_weight':total_dict['total_weight']+indent.get_weight(),
							'total_net_value':total_dict['total_net_value']+indent.net_value(),
							'total_tax_value':total_dict['total_tax_value']+indent.tax_amount(),
						}) %} {% endif %}
					</tr>
				{% endfor %}
				<tr>
					<td></td><td></td><td></td><td>&nbsp</td><td>&nbsp</td><td>&nbsp</td><td>&nbsp</td><td>&nbsp</td><td>&nbsp</td><td>&nbsp</td><td>&nbsp</td>
				</tr>
				<tr class="fw-bold">
					<td colspan="3">Terms & Conditions</td>
					<td>{{total_quantity}}</td>
					<td>{{total_weight}} Kg</td>
					<td colspan="4">Total Gross Value</td>
					<td colspan="2">₹ {{total_gross_value}}</td>
				</tr>
				<tr class="fw-bold">
					<td colspan="5">Delivery :- {{payment_term}} Day/s</td>
					<td colspan="4">Total Tax</td>
					<td colspan="2">₹ {{total_tax_value}}</td>
				</tr>
				<tr class="fw-bold">
					<td colspan="5">Payment Term :- {{payment_term}} Day/s</td>
					<td colspan="4">Total</td>
					<td colspan="2">₹ {{total_net_value}}</td>
				</tr>
				<tr class="fw-bold">
					<td colspan="11">Total in Words :- </td>
				</tr>
				<tr>
					<td colspan="11" class="text-center">
						Important information for our suppliers.
					</td>
				</tr>
				<tr>
					<td colspan="11" class="">
						<ul>
							<li>It is imperative to specify our Order No.,Pos. No., Material No., Quantity, the Drawing No. and the Revision Index on the material.</li>
							<li>Invoice documents have to be addressed to our Accounting, preferably as PDF by e-mail to:mechghanshyam@gmail.com</li>
							<li>And also send original invoice, challan, inspection report ,drgs etc along with material at the time of dispatch.</li>
							<li>If find any damage or short supply against order in delivery material would not be accepted and that should be replaced by vendor immediately.</li>
							<li>PO validity is maximum of 90 days from the date of PO.</li>
							<li>You are kindly requested to send us an order confirmation after getting this order.</li>
							<li>This order is based on our general terms and coditions of purchase. We require an order acknowledgement for the following items.</li>
						</ul>
					</td>
				</tr>
				

			</tbody>
		</table>
	</body>
	
</html>