<!DOCTYPE html>
<html>
	<head>
		<link href="{{static ('Bundles/css/bootstrap.min.css')}}" rel="stylesheet">
		<style>
			#content {
				display: table;
			}

			#pageFooter {
				display: table-footer-group;
			}

			#pageFooter:after {
				counter-increment: page;
				content: counter(page);
			}
			#main_table{
				max-width: 100%;
			}
			.table-bordered > tbody > tr > td, .table-bordered > tbody > tr > th, .table-bordered > tfoot > tr > td, .table-bordered > tfoot > tr > th, .table-bordered > thead > tr > td, .table-bordered > thead > tr > th {
				border: 1px solid black;
			}
			html {
				font-size: 10px;
			}
			@page {
				size: A4 portrait;
				margin: 10px;
			}
			@media screen, print{
				/* html, body {
					width: 297mm;
					height: 100mm;
				} */
				html {
					font-size: 70%;
					line-height: 110%;
				}
				#main_table {
					width: 100%;
				}
			}
			@media print{
				html {
					font-size: 60%;
					line-height: 110%;
				}
			}

		</style>
	</head>
	<script type="text/javascript">
		window.onload = addPageNumbers;

		function addPageNumbers() {
		  var totalPages = Math.ceil(document.body.scrollHeight / (1123-40));  //842px A4 pageheight for 72dpi, 1123px A4 pageheight for 96dpi,
		  console.log(totalPages)
		  for (var i = 1; i <= totalPages; i++) {
			var pageNumberDiv = document.createElement("div");
			var pageNumber = document.createTextNode("Page " + i + " of " + totalPages);
			pageNumberDiv.style.position = "absolute";
			pageNumberDiv.style.border = "1px solid red";
			pageNumberDiv.style.top = "calc((" + i + " * (297mm - 0.5px - 40px)) - 40px)"; //297mm A4 pageheight; 0,5px unknown needed necessary correction value; additional wanted 40px margin from bottom(own element height included)
			pageNumberDiv.style.height = "16px";
			pageNumberDiv.appendChild(pageNumber);
			document.body.insertBefore(pageNumberDiv, document.getElementById("content"));
			pageNumberDiv.style.left = "calc(100% - (" + pageNumberDiv.offsetWidth + "px + 20px))";
		  }
		}
	  </script>
	<body>

		<table class="table table-bordered" id="main_table">
			<thead>
				<tr>
					<th colspan="11" class="fw-bold text-center h2">GHANSHYAM INDUSTRIES</th>
				</tr>
				<tr>
					<td colspan="11">
						address address address address address address address address address address address address address address address address address  address address address
						<table style="width: 100%;margin-top: 10px;" class="fw-bold h5">
							<tr>
								<td>Email- mechghanshyam@gmail.com </td>
								<td style="text-align: right;">GST NO - 24AAZPP4220E1ZN</td>
							</tr>
						</table>
				</tr>
			</thead>
			<tbody>
				<tr>
					<td colspan="7">M/s Krushna Steel Traders</td>
					<td colspan="2" class="fw-bold text-center">PO Number</td>
					<td colspan="2" class="fw-bold text-center">PO Date</td>
				</tr>
				<tr>
					<td colspan="7" rowspan="5">address address address address address address address address address address address address address address address address address </td>
					<td colspan="2" class="text-center">28</td>
					<td colspan="2">12/12/2021</td>
				</tr>
				<tr>
					<td colspan="4">Contact Person :- Mahendrakumar D Patel</td>
				</tr>
				<tr>
					<td colspan="4">Phone number :- 1234567890</td>
				</tr>
				<tr>
					<td colspan="4">E-mail :- krushna89steel@gmail.com</td>
				</tr>
				<tr>
					<td colspan="4">GST No :- 24AAZPP4220E1ZN</td>
				</tr>
				<tr>
					<td colspan="11" class="text-center">Besides, this order is based on our general terms and coditions of purchase. We require an order acknowledgement for the following items.</td>
				</tr>
				<tr>
					<td>Sr.No.</td>
					<td class="description">Description</td>
					<td>MT</td>
					<td>QUT</td>
					<td>WT</td>
					<td>Unit Value</td>
					<td>Tax</td>
					<td>Other Expanses</td>
					<td>Discount</td>
					<td>Total Tax Value</td>
					<td>Total Net value</td>
				</tr>
				{% 	set total_dict = {
						'total_quantity':0,
						'total_weight':0,
						'total_net_value':0,
						'total_tax_value':0
					}
				%}
				{% for indent in all_indents %}
					<tr>
						<td>{{loop.index}}</td>
						<td class="description">({{indent.pk}}) {{indent.description}}</td>
						<td>{{indent.material_type}}</td>
						<td>{{indent.quantity}} {{indent.unit}}</td>
						<td>{{indent.get_weight()}} Kg</td>
						<td>₹ {{indent.value}}</td>
						<td>{{indent.tax}}</td>
						<!-- <td>{{indent.tax_amount()}}</td> -->
						<td>₹ {{indent.other_expanses}}</td>
						<td>₹ {{indent.discount}}</td>
						<td>₹ {{indent.tax_amount()}}</td>
						<td>₹ {{indent.gross_value()}}</td>
						<!-- <td>{{indent.net_value()}}</td> -->
					</tr>
				{% endfor %}
				{% for indent in all_indents %}
					<tr>
						<td>{{loop.index}}</td>
						<td class="width: 100px" class="description">{{indent.description}}</td>
						<td>{{indent.material_type}}</td>
						<td>{{indent.quantity}} {{indent.unit}}</td>
						<td>{{indent.get_weight()}} Kg</td>
						<td>₹ {{indent.value}}</td>
						<td>{{indent.tax}}</td>
						<!-- <td>{{indent.tax_amount()}}</td> -->
						<td>₹ {{indent.other_expanses}}</td>
						<td>₹ {{indent.discount}}</td>
						<td>₹ {{indent.tax_amount()}}</td>
						<td>₹ {{indent.gross_value()}}</td>
						<!-- <td>{{indent.net_value()}}</td> -->
						{% if total_dict.update({
							'total_quantity':total_dict['total_quantity']+indent.quantity,
							'total_weight':total_dict['total_weight']+indent.get_weight(),
							'total_net_value':total_dict['total_net_value']+indent.net_value(),
							'total_tax_value':total_dict['total_tax_value']+indent.tax_amount(),
						}) %} {% endif %}
					</tr>
				{% endfor %}
				<tr>
					<td></td><td></td><td></td><td>&nbsp</td><td>&nbsp</td><td>&nbsp</td><td>&nbsp</td><td>&nbsp</td><td>&nbsp</td><td>&nbsp</td><td>&nbsp</td>
				</tr>
				<tr class="fw-bold">
					<td colspan="3">Terms & Conditions</td>
					<td>{{total_quantity}}</td>
					<td>{{total_weight}}</td>
					<td colspan="5">Total Gross Value</td>
					<td>₹ {{total_gross_value}}</td>
				</tr>
				<tr class="fw-bold">
					<td colspan="5">Delivery :- </td>
					<td colspan="5">Total Tax</td>
					<td colspan="1">₹ {{total_tax_value}}</td>
				</tr>
				<tr class="fw-bold">
					<td colspan="5">Payment Terms :- </td>
					<td colspan="5">Total</td>
					<td colspan="1">₹ {{total_net_value}}</td>
				</tr>
				<tr>
					<td colspan="11" class="text-center">
						Important information for our suppliers.
					</td>
				</tr>
			</tbody>
		</table>
	</body>
	
</html>