{% extends 'base.html' %}
{% import "macros.jinja" as macros %}
{% block title%}Home
{% endblock %}

{% block css%}
<link rel="stylesheet" type="text/css" href="{{static ('Bundles/css/datepicker.min.css')}}"/>
<style>
    td,th {
        font-size: .9rem !important;
    }
</style>
{% endblock %}

{%block scripts%}
{% endblock %}

{% block content %}
	<div class="main_content">
		<div class="row" style="padding-top: 6rem">
			<div class="col-12 mb-4" style="width:80%;margin: 0 auto;">
				<a href="{{url ('show_wo')}}" target="_blank" class="d-flex justify-content-center text-decoration-none">
					<button class="btn btn-success w-75">
						Work Order Table
					</button>
				</a>
				<br>
				<a href="{{url ('show_stock')}}" target="_blank" class="d-flex justify-content-center text-decoration-none">
					<button class="btn btn-success w-75">
						Check Stock
					</button>
				</a>
				<br>
				<a href="{{url ('show_vendor')}}" target="_blank" class="d-flex justify-content-center text-decoration-none">
					<button class="btn btn-success w-75">
						Vendor Details Table
					</button>
				</a>
				<br>
				<a href="/admin" target="_blank" class="d-flex justify-content-center text-decoration-none">
					<button class="btn btn-success w-75">
						Purchase Order Table
					</button>
				</a>
				<br>
				<a href="/admin" target="_blank" class="d-flex justify-content-center text-decoration-none">
					<button class="btn btn-success w-75">
						Admin Page
					</button>
				</a>

			</div>
		</div>
	</div>
{% endblock %}