{% extends 'base.html' %}
{% import "macros.jinja" as macros %}
{% block title%}{% if update.quantity %}Update{% else %}Add{% endif %} GRN
{% endblock %}

{% block css%}
<link rel="stylesheet" type="text/css" href="{{static ('Bundles/css/datepicker.min.css')}}"/>
<style>
    td,th {
        font-size: .9rem !important;
    }
</style>
{% endblock %}

{%block scripts%}
    <script type="text/javascript">
        $(document).ready(function() {
			clear_form($(".myform"))
            console.log("department")
            {% if success %}
				Swal.fire(
					'GRN Saved!',
					"{{save_message}}",
					'success'
				)
				window.setTimeout(function(){
			    	window.location.href = "{{url ('show_grn')}}";
			    }, 3000)
            {% endif %}
			$("#indent_id").select2();
			$("#vendor_id").select2();
			$(".select2-selection").on("focus", function () {
		        $(this).parent().parent().prev().select2("open");
		    });
		});
    </script>
{% endblock %}

{% block content %}
	<div class="main_content">
		<div class="row" style="padding-top: 6rem">
			<nav aria-label="breadcrumb">
				<ol class="breadcrumb">
				<li class="breadcrumb-item">
					<a href="{{url ('home_page')}}">
						<span class="h6 fw-bold">Home</span>
					</a>
				</li>
				{% if update.indent_id %}
				<li class="breadcrumb-item">
					<a href="{{url ('show_indent',args=[update.indent_id.WO.id])}}">
						<span class="h6 fw-bold">Indent Table</span>
					</a>
				</li>
				{% endif %}
				<li class="breadcrumb-item">
					<a href="{{url ('show_grn')}}">
						<span class="h6 fw-bold">GRN Table</span> 
					</a>
				</li>
				<li class="breadcrumb-item">
					<a href="{{url ('add_grn')}}">
						<span class="h6 fw-bold">Add GRN</span> 
					</a>
				</li>
				</ol>
			</nav>
			<div class="col-12 mb-4" style="width:80%;margin: 0 auto;">
				<div class="card shadow-sm components-section" style="border-radius: 1rem;">
					<div class="card-body" style="border-radius: 1rem;">
						<div class="accordion accordion-flush" id="accordionFlushExample">
							<div class="accordion-item">
								<h2 class="accordion-header" id="flush-headingOne">
									<h3>{% if update.quantity %}Update{% else %}Add{% endif %} GRN {% if success %}✅{% endif %}</h3>
								</h2>
									<div class="accordion-body">
										<form class="myform" method = "POST">
											{{csrf_input}}
											<!-- <img class="form_hider" src="{{static ('admin/details/img/close.png')}}" alt="hide"> -->
											<div class="row mb-1 mx-lg-5 mx-sm-0">
												<div class="col-lg-6 col-md-12 col-sm-12">
													{{macros.input_text("Invoice Number","invoice_no",update.invoice_no)}}
												</div>
												<div class="col-lg-6 col-md-12 col-sm-12">
													{{macros.date_input("GRN Date","grn_date",value=update.grn_date)}}
												</div>
											</div>
											<div class="row mb-1 mx-lg-5 mx-sm-0">
												<div class="col-lg-6 col-md-12 col-sm-12">
													{{macros.select2("Indent Number","indent_id",all_indent,update.indent_id)}}
												</div>
												<div class="col-lg-6 col-md-12 col-sm-12">
													{{macros.select2("Vendor Name","vendor_id",all_vendors,update.vendor_id)}}													
												</div>
											</div>
											<div class="row mb-1 mx-lg-5 mx-sm-0">
												<div class="col-lg-3 col-md-12 col-sm-12">
													{{macros.input_number("Quantity","quantity",value=update.quantity)}}
												</div>
												<div class="col-lg-3 col-md-12 col-sm-12">
													{{macros.input_text("Unit","unit",value=update.unit if update.unit else "NOS")}}
												</div>
												<div class="col-lg-6 col-md-12 col-sm-12">
													{{macros.input_currency("Value","value",value=update.value)}}
												</div>
											</div>
											<div class="row mb-1 mx-lg-5 mx-sm-0">
												<div class="col-lg-3 col-md-12 col-sm-12">
													{{macros.input_number("Tax (in %)","tax",value=update.tax)}}
												</div>
												<div class="col-lg-3 col-md-12 col-sm-12">
													{{macros.input_number("Discount","discount",value=update.discount)}}
												</div>
												<div class="col-lg-6 col-md-12 col-sm-12">
													{{macros.input_number("Other Expanses","other_expanses",value=update.other_expanses)}}
												</div>
											</div>
											<div class="row mb-1 mx-lg-5 mx-sm-0">
												<div class="container mt-4" style="width:80%;">
													<button type="submit" class="btn btn-outline-success"
														style="width:100%">Submit</button>
												</div>
											</div>
										</form>
										{% if integrityErrors %}
											<div class="errors_container">
												<p>
												{{integrityErrors}}
												</p>
											</div>
										{% endif %}
										{% if errors %}
											<div class="errors_container">
												<p>
												{{errors}}
												</p>
											</div>
											<script>
												show_error("{{errors}}")
											</script>
										{% endif %}
                                    </div>                                
                            </div>

                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}